<div *ngIf="hasData" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
  <div class="col" *ngFor="let device of deviceList">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Device</mat-card-title>
        <mat-card-subtitle>#{{ device.id }}</mat-card-subtitle>
        <div class="card-menu full-width" *ngIf="isDeviceManagementRoute">
          <mat-icon class="clickable" aria-hidden="false" aria-label="Card menu icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>edit</mat-icon>
              <span>Edit Device</span>
            </button>
            <button mat-menu-item (click)="deleteDevice(device.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete Device</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><span>Category:</span> {{ device.category }}</li>
          <li><span>Color:</span> {{ device.color }}</li>
          <li><span>Part Number:</span> {{ device.partNumber }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="!hasData" class="row empty-container full-width">
  <mat-spinner *ngIf="!isRequestDone" diameter="60" style="margin: auto;"></mat-spinner>
  <div *ngIf="isRequestDone" class="nodata-msg">Nothing to show here.</div>
</div>
