<div class="full-height">
  <mat-toolbar color="primary">
    <a routerLink="/">
      <span>{{ title }}</span>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="full-height">
    <mat-sidenav #sidenav position="start" mode="side" opened="true" color="accent">
      <mat-list>
        <mat-list-item class="clickable" (click)="isExpanded = !isExpanded">
          <mat-icon *ngIf="!isExpanded" aria-hidden="false" aria-label="Chevron right icon">
            chevron_right 
          </mat-icon>
          <mat-icon class="chevron-left" *ngIf="isExpanded" aria-hidden="false" aria-label="Chevron left icon" (click)="isExpanded = !isExpanded">
            chevron_left
          </mat-icon>
        </mat-list-item>

        <a routerLink="{{ sideNavItem.linkValue }}" title="{{ sideNavItem.title }}" *ngFor="let sideNavItem of sideNavItems">
          <mat-list-item (click)="isExpanded = isExpanded === true ? !isExpanded : isExpanded">
            <mat-icon aria-hidden="false" aria-label="Navigation icon">{{ sideNavItem.iconName }}</mat-icon>
            <span *ngIf="isExpanded">{{ sideNavItem.title }}</span>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- Routed views go here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
