mat-card-content ul {
  list-style-type: none;
  margin: 0 0 0 16px;
  padding: 0;
}

mat-card-content ul li span {
  color: #FFFFFFB3;
}

.card-menu {
  display: flex; 
  justify-content: end;
}

.empty-container {
  display: flex;
  min-height: 152px;
  justify-content: center;
  justify-items: center;
}

.add-card-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nodata-msg {
  display: block;
  margin: auto;
  padding: 0;
  width: fit-content;
  font-size: 24px;
  color: #525252;
}